body {
    background-image: url("../img/login.jpg"); /* Background image */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Center background image */
    margin: 0;
    font-family: Arial, sans-serif; /* Use a modern font */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.valorant-form{
	background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
    padding: 20px;
    margin-top: 280px;
    color: white;
}